on: [push, workflow_dispatch]

name: AzureCLISample

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Azure Login
      # https://github.com/marketplace/actions/azure-login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Azure CLI script
      # https://github.com/marketplace/actions/azure-cli-action
      uses: azure/CLI@v1
      with:
        azcliversion: latest
        inlineScript: |
          set -ex
          ls ~/.azure
          az --version
          az account show
          az group list
