on: [workflow_dispatch]

name: AzureCLISample

jobs:

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        azcliversion: 2.29.2
        inlineScript: |
          set -ex
          ls ~/.azure
          cat ~/.azure/versionCheck.json
          cat ~/.azure/accessTokens.json
          az account show --sdk-auth
